.tile {
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border: 1px solid #000;
  background: #fff;
}

.tile:hover {
  cursor: pointer;
  filter: brightness(0.9);
  box-shadow: 0 0 0 20px rgba(255,0,0,0.2) inset; 
}

.ptile.selected {
  box-shadow: 0 0 0 2px rgba(255,0,0,1) inset;
}

.ptile:hover {
  box-shadow: 0 0 0 2px rgba(255,0,0,1) inset;
  cursor: pointer; 
}